#footer{
    background-color: var(--yellow);

    padding: calc(1vh + .5vw);
}

/* Div */
#footer div{
    display: inline-block;

    margin-right: calc(2vh + .5vw);
    padding: calc(.4vh + .1vw);
}

/* P */
#footer div p{
    display: inline-block;

    font-size: var(--p_font-size);
}
#footer div p:nth-child(1){
    font-weight: bold;
}

/* P and A */
#footer div p,
#footer div p a{
    color: var(--black);
}