/* Content */
/* The style of this section / div 
is found in the class.css file */

/* Left */
#section3-content-left{
    width: 30%;

    text-align: left;

    margin-right: calc(10vh + 3vw);
    position: relative;
}

/* H3 */
/* The style of this section / div 
is found in the class.css file */
#section3-content-left h3{
    color: var(--yellow);
    font-size: var(--h1_font-size);
}

/* P */
/* The style of this section / div 
is found in the class.css file */
#section3-content-left p{
    color: var(--yellow);
}

/* HR */
#section3-content-left .hr-left{
    left: 0;
}
#section3-content-left .hr-right{
    right: 48%;
}

/* Image */
/* Dart */
#section3-content img{
    width: calc(20vh + 6vw);
}





/* Responsive */
/* 1024 */
@media screen and (max-width: 1024px) {
    /* 800 */
    @media screen and (min-height: 800px){
        /* Content */
        #section3-content{
            display: grid;
            grid-template-areas: 
                "image"
                "text"
            ;
            grid-template-columns: auto;
        }

        /* P */
        #section3-content-left{
            width: 60%;

            grid-area: text;

            text-align: center;

            margin: 0 auto;
        }

        /* HR */
        #section3-content-left .hr-left{
            left: 24%;
        }
        #section3-content-left .hr-right{
            right: 24%;
        }


        /* Image */
        /* Dart */
        #section3-content img{
            grid-area: image;
            
            margin: 0 auto;
            margin-bottom: var(--marginBottom);
        } 
    }
}


/* 420 */
@media screen and (max-width: 420px){
    /* Content */
    #section3-content{
        display: grid;
        grid-template-areas: 
            "image"
            "text"
        ;
        grid-template-columns: auto;
    }

    /* P */
    #section3-content-left{
        width: 60%;

        grid-area: text;

        text-align: center;

        margin: 0 auto;
    }

    /* HR */
    #section3-content-left .hr-left{
        left: 24%;
    }
    #section3-content-left .hr-right{
        right: 24%;
    }


    /* Image */
    /* Dart */
    #section3-content img{
        grid-area: image;
        
        margin: 0 auto;
        margin-bottom: var(--marginBottom);
    } 
}