#section1{
    padding-top: calc(20vh + 7vw);
}



/* Content */
#section1-content{
    width: 40%;

    margin: 0 auto;
    position: relative;
}


/* Title */
#section1 h1{
    color: var(--yellow);
    font-size: var(--h1_font-size);

    margin-bottom: calc(4vh + 1vw);
}


/* section1_moon */
#section1_moon{
    width: calc(10vh + 5vw);

    position: absolute;
    top: 2%;
    left: 15%;
}





/* Responsive */
/* 1024 */
@media screen and (min-width: 1024px){
    @media screen and (max-width: 1024px){
        @media screen and (min-height: 1366px){
           /* Content */
            #section1-content{
                width: 70%;
            }
        }
    }
}

/* 800 */
@media screen and (max-width: 800px){
    /* Content */
    #section1-content{
        width: 70%;
    }
}

/* 400 */
@media screen and (max-width: 400px){
    /* Content */
    #section1-content{
        width: 80%;
    }
}