#section4{
    padding-left: calc(15vh + 4.5vw);
    padding-right: calc(15vh + 4.5vw);
}





/* Content */
/* Div */
.section4-content-div{
    width: 40%;

    text-align: left;

    position: relative;
}

/* H3 */
/* The style of this section / div 
is found in the class.css file */
.section4-content-div h3{
    font-size: var(--h1_font-size);
}
/* P */
/* The style of this section / div 
is found in the class.css file */

/* HR */
.section4-content-div .hr-left{
    left: 0;
}.section4-content-div .hr-right{
    right: 48%;
}

.section4-content-div:nth-child(3) hr{
    top: -12%;
}





/* Image */
/* Binocular */
#section4-content-binocular{
    text-align: right;
}
#section4-content-binocular img{
    width: calc(35vh + 10vw);

    margin-bottom: calc(2vh + .5vw);
}





/* Responsive */
/* 900 */
@media screen and (max-width: 800px) {
    #section4{
        padding-left: calc(8vh + 3.5vw);
        padding-right: calc(8vh + 3.5vw);
    }

    /* Content */
    /* Div */
    .section4-content-div{
        width: 55%;
    }

    /* Image */
    /* Binocular */
    #section4-content-binocular img{
        width: calc(27vh + 10vw);
    }
}
/* 400 */
@media screen and (max-width: 400px) {
    #section4{
        padding-left: calc(6vh + 2.5vw);
        padding-right: calc(6vh + 2.5vw);
    }

    /* Content */
    /* Div */
    .section4-content-div{
        width: 80%;
    }

    /* Image */
    /* Binocular */
    #section4-content-binocular img{
        width: calc(22vh + 9vw);
    }
}