/* Content */
/* The style of this section / div 
is found in the class.css file */

/* Image */
/* Rocket */
#section2-content img{
    width: calc(25vh + 8vw);

    margin-right: calc(10vh + 3vw);
}

/* Right */
#section2-content-right{
    width: 25%;

    text-align: right;
}

/* H3 and P*/
/* The style of this section / div 
is found in the class.css file */





/* Responsive */
/* 650 */
@media screen and (max-width: 650px){
    /* Content */
    #section2-content{
        display: flex;
        justify-content: space-evenly;
    }

    /* Image */
    /* Rocket */
    #section2-content img{
        margin-right: 0;
    }

    /* Right */
    #section2-content-right{
        width: 40%;
    }
}

/* 1024 */
@media screen and (max-width: 1024px) {
    /* 800 */
    @media screen and (min-height: 800px){
        #section2-content{
            flex-direction: column;
        }
    
        /* Image */
        /* Rocket */
        #section2-content img{
            margin-bottom: calc(3vh + .5vw);
        }
        /* Right */
        #section2-content-right{
            width: 60%;
    
            text-align: center;
        } 
    }
}

/* 420 */
@media screen and (max-width: 420px){
    #section2-content{
        flex-direction: column;
    }

    /* Image */
    /* Rocket */
    #section2-content img{
        margin-bottom: calc(3vh + .5vw);
    }
    /* Right */
    #section2-content-right{
        width: 60%;

        text-align: center;
    }
}