/* Content */
#section5-content{
    display: flex;
    justify-content: space-evenly;

    padding-bottom: calc(9.5vh + 4vw);
}

/* Div */
.section5-content-div{
    width: 20%;

    display: inline-block;
    text-align: left;

    position: relative;
}
/* NTH-CHILD */
.section5-content-div:nth-child(2){
    top: calc(10vh + 3vw);
}
.section5-content-div:nth-child(3){
    top: calc(5vh + 2vw);
}

/* H3 and p*/
.section5-content-div h3,
.section5-content-div p{
    color: var(--yellow);
}

/* HR */
.section5-content-div .hr-left{
    left: 0;
}
.section5-content-div .hr-right{
    width: 50%;
    right: 38%;
}





/* Responsive */
/* 1024 */
@media screen and (max-width: 1024px){
    /* Content */
    #section5-content{
        flex-direction: column;

        padding: 0 calc(3vh + .5vw);
    }
    
    /* Div */
    .section5-content-div{
        width: 70%;
        margin-bottom: calc(5vh + 1.5vw);
    }.section5-content-div:last-child{
        margin-bottom: 0;
    }
    /* NTH-CHILD */
    .section5-content-div:nth-child(2),
    .section5-content-div:nth-child(3){
        top: 0;
    }
}