/* Content */
#section7-content{
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    margin-bottom: calc(6vh + 2.5vw);
}


/* Image */
#section7-content img{
    width: calc(18vh + 6vw);

    margin-right: calc(8.5vh + 3.5vw);
}


/* P */
#section7-content-text .section-p{
    width: calc(38vh + 15vw);

    text-align: right;

    color: var(--yellow);

    margin-bottom: 0;
}





/* HR */
#section7 .hr-width10{
    width: 4%;
}
#section7 .hr-width40{
    width: 15%;
}
#section7 .hr-left{
    left: 40%;
}
#section7 .hr-right{
    right: 40%;
}





/* Responsive */
/* 1024 */
@media screen and (max-width: 1024px){
    /* Image */
    #section7-content img{
        margin-right: calc(2vh + .5vw);
    }

    @media screen and (min-width: 1024px){
        @media screen and (min-height: 1366px){
            #section7-content{
                flex-direction: column;
        
                margin-bottom: calc(2vh + 1.5vw);
            }
        
            /* Image */
            #section7-content img{
                margin-right: 0;
            }
        
            /* P */
            #section7-content-text .section-p{
                text-align: center;
            }
        }
    }
}

/* 800 */
@media screen and (max-width: 800px){
    #section7-content{
        flex-direction: column;

        margin-bottom: calc(2vh + 1.5vw);
    }

    /* Image */
    #section7-content img{
        margin-right: 0;
    }

    /* P */
    #section7-content-text .section-p{
        text-align: center;
    }
}

/* 280 */
@media screen and (max-width: 280px){
    @media screen and (min-height: 600px){
        /* P */
        #section7-content-text .section-p{
            width: calc(32vh + 12vw);
        }
    }
}