#footer{
    background-color: var(--secondary);
    border-top: 1vh solid var(--primary);

    position: relative;
    z-index: 99;
    transition: margin-top 0.25s;
}



/* Top */
#footer-top{
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3vh;
}

/* Logo */
#footer-top-logo{
    height: 100%;
}

/* Navigation */
#footer-top-nav{
    display: block ;
}
#footer-top-nav a,
#footer-responsiveMenu a{
    color: #fff;
    font-size: 2.5vh;

    padding: 1vh 3vh;
}#footer-top-nav a:hover{
    background-color: var(--primary);
    border-radius: var(--borderRadius);
}
/* Responsive menu */
#footer-responsiveMenu,
#footer-top-openResponsiveMenu{
    display: none;
}


/* Social networks */
#footer-top-socialNetworks{
    height: 45%;

    display: flex;
    align-items: center;
}
.footer-top-socialNetworks-facebook, 
.footer-top-socialNetworks-instagram, 
.footer-top-socialNetworks-twitter, 
.footer-top-socialNetworks-youtube{
    width: 4vh;
    height: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;

    margin: 0 0.8vh;
    transition: background-image 0.25s, transform 0.25s;
}.footer-top-socialNetworks-facebook:hover,
.footer-top-socialNetworks-instagram:hover,
.footer-top-socialNetworks-twitter:hover,
.footer-top-socialNetworks-youtube:hover{
    transform: scale(1.05);
}
.footer-top-socialNetworks-facebook{
    background-image: url("../../../images/components/footer/facebook.svg");
}.footer-top-socialNetworks-facebook:hover{
    background-image: url("../../../images/components/footer/facebook-red.svg");
}
.footer-top-socialNetworks-instagram{
    background-image: url("../../../images/components/footer/instagram.svg");
}.footer-top-socialNetworks-instagram:hover{
    background-image: url("../../../images/components/footer/instagram-red.svg");
}
.footer-top-socialNetworks-twitter{
    background-image: url("../../../images/components/footer/twitter.svg");
}.footer-top-socialNetworks-twitter:hover{
    background-image: url("../../../images/components/footer/twitter-red.svg");
}
.footer-top-socialNetworks-youtube{
    background-image: url("../../../images/components/footer/youtube.svg");
}.footer-top-socialNetworks-youtube:hover{
    background-image: url("../../../images/components/footer/youtube-red.svg");
}



/* Division || HR */
#footer-division{
    width: 100%;
    height: 0.1vh;

    background-color: var(--third);

    margin: 0 auto;
}



/* bottom */
#footer-bottom{
    height: 14vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;

    padding: 0 2vh;
}

/* Languages */
#footer-bottom-languages{
    width: 30vh;

    display: flex;
    align-items: center;

    cursor: pointer;
}
#footer-bottom-languages i,
#footer-bottom-languages span{
    color: var(--third);
    font-size: 2vh;
}
#footer-bottom-languages i{
    font-size: 3vh;
}
#footer-bottom-languages hr{
    width: 0.3vh;
    height: 2vh;

    background-color: var(--primary);

    margin: 0 0.5vh;
}

/* Copyright */
#footer-bottom-copyright p,
#footer-bottom-copyright p a{
    color: var(--third);
    font-size: 2vh;
}

/* Backtop */
#footer-bottom-backtop{
    width: 30vh;
}
#footer-bottom-backtop button{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2vh;
    background-color: var(--third);
    border-radius: 2.5vh;
    cursor: pointer;

    padding-left: 2vh;
    padding-right: 1vh;
}#footer-bottom-backtop button:hover{
    background-color: var(--primary);
}
#footer-bottom-backtop img{
    width: 4vh;

    transform: rotate(180deg);
}





/* Responsive */
@media (max-width: 1024px) {
    /* Footer top */
    /* Menu */
    #footer-top-nav{
        display: none;
    }
    /* Responsive menu */
    #footer-responsiveMenu{
        width: 100%;
        height: 50px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        background-color: var(--primary);

        position: absolute;
        bottom: -100px;
        left: 0;
        transition: bottom 0.25s;
        z-index: 9;
    }
    /* Button */
    #footer-top-openResponsiveMenu{
        width: 30px;
        height: 30px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #footer-top-openResponsiveMenu span{
        width: 100%;
        height: 3px;

        background-color: var(--third);

        transition: transform 0.25s;
    }
    #footer-top-openResponsiveMenu.change span:nth-child(1){
        transform: rotate(-45deg) translateX(-19px);
    }
    #footer-top-openResponsiveMenu.change span:nth-child(2){
        display: none;
    }
    #footer-top-openResponsiveMenu.change span:nth-child(3){
        transform: rotate(45deg) translateX(-19px);
    }



    /* Footer bottom */
    /* Backtop */
    #footer-bottom-backtop img{
        width: 15%;
    }
}

@media(max-width: 800px){
    /* Footer top */
    /* Responsive menu */
    #footer-responsiveMenu{
        height: 100px;
    }
}

@media(max-width: 700px){
    /* Footer bottom */
    #footer-bottom{
        height: auto;

        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-template-areas:
		"language backtop"
		"copyright copyright"
		;
        grid-template-columns: auto;
        grid-template-rows: 50px;
    }
    #footer-bottom-languages{
        grid-area: language;
    }
    #footer-bottom-copyright{
        grid-area: copyright;
        
        text-align: center;
    }
    #footer-bottom-backtop{
        grid-area: backtop;
    }
    /* Languages and backtop */
    #footer-bottom-languages,
    #footer-bottom-backtop{
        margin: 0 10px;
    }
}

@media(max-width: 400px){
    /* Footer top */
    #footer-top-logo{
        height: 40px;
    }



    /* Footer bottom */
    #footer-bottom{
        grid-template-areas: 
        "language"
        "backtop"
        "copyright"
        ;
        grid-template-rows: 80px;
        grid-template-columns: 100%;
    }
    #footer-bottom-languages{
        grid-area: language; 
        width: 100%; 
        justify-content: center;
    }
    #footer-bottom-copyright{
        grid-area: copyright; 
        text-align: center;

        margin-top: 25px;
    }
    #footer-bottom-backtop{
        grid-area: backtop;
        width: 100%;
    }#footer-bottom-backtop button{
        width: 150px;
        margin: 0 auto;
    }
    /* Languages and backtop */
    #footer-bottom-languages,
    #footer-bottom-backtop{
        margin: 0;
    }
}   