#footer{
    background-color: var(--secondary);
    border-top: 1vh solid var(--primary);
}



/* Top */
#footer-top{
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3vh;
}

/* Logo */
#footer-top-logo{
    height: 100%;
}

/* Navigation */
#footer-top-nav{

}
#footer-top-nav a{
    color: #fff;
    font-size: 2.5vh;

    padding: 1vh 3vh;
}#footer-top-nav a:hover{
    background-color: var(--primary);
    border-radius: var(--borderRadius);
}

/* Social networks */
#footer-top-socialNetworks{
    height: 45%;

    display: flex;
    align-items: center;
}
.footer-top-socialNetworks-facebook, 
.footer-top-socialNetworks-instagram, 
.footer-top-socialNetworks-twitter, 
.footer-top-socialNetworks-youtube{
    width: 4vh;
    height: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;

    margin: 0 0.8vh;
    transition: background-image 0.25s, transform 0.25s;
}.footer-top-socialNetworks-facebook:hover,
.footer-top-socialNetworks-instagram:hover,
.footer-top-socialNetworks-twitter:hover,
.footer-top-socialNetworks-youtube:hover{
    transform: scale(1.05);
}
.footer-top-socialNetworks-facebook{
    background-image: url("../../../images/components/footer/facebook.svg");
}.footer-top-socialNetworks-facebook:hover{
    background-image: url("../../../images/components/footer/facebook-red.svg");
}
.footer-top-socialNetworks-instagram{
    background-image: url("../../../images/components/footer/instagram.svg");
}.footer-top-socialNetworks-instagram:hover{
    background-image: url("../../../images/components/footer/instagram-red.svg");
}
.footer-top-socialNetworks-twitter{
    background-image: url("../../../images/components/footer/twitter.svg");
}.footer-top-socialNetworks-twitter:hover{
    background-image: url("../../../images/components/footer/twitter-red.svg");
}
.footer-top-socialNetworks-youtube{
    background-image: url("../../../images/components/footer/youtube.svg");
}.footer-top-socialNetworks-youtube:hover{
    background-image: url("../../../images/components/footer/youtube-red.svg");
}



/* Division || HR */
#footer-division{
    width: 100%;
    height: 0.1vh;

    background-color: var(--third);

    margin: 0 auto;
}



/* bottom */
#footer-bottom{
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;

    padding: 0 2vh;
}

/* Languages */
#footer-bottom-languages{
    width: 30vh;

    display: flex;
    align-items: center;

    cursor: pointer;
}
#footer-bottom-languages i,
#footer-bottom-languages span{
    color: var(--third);
    font-size: 2vh;
}
#footer-bottom-languages i{
    font-size: 3vh;
}
#footer-bottom-languages hr{
    width: 0.3vh;
    height: 2vh;

    background-color: var(--primary);

    margin: 0 0.5vh;
}

/* Copyright */
#footer-bottom-copyright{
    color: var(--third);
    font-size: 2vh;
}

/* Backtop */
#footer-bottom-backtop{
    width: 30vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--third);
    border-radius: 2.5vh;
    cursor: pointer;

    padding-left: 2vh;
    padding-right: 1vh;
}#footer-bottom-backtop:hover{
    background-color: var(--primary);
}
#footer-bottom-backtop img{
    width: 5vh;

    transform: rotate(180deg);
}