<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>

    <!-- CSS -->
    <!-- Google fonts -->
    <link rel="stylesheet" href="../css/googlefonts.css">

    <!-- Reset -->
    <link rel="stylesheet" href="../css/reset.css">
    
    <!-- Variables -->
    <link rel="stylesheet" href="../css/variables.css">

    <!-- Class -->
    <link rel="stylesheet" href="../css/pages/class.css">
    <!-- Main -->
        <!-- Section-1 -->
        <link rel="stylesheet" href="../css/pages/section-1.css">
        <!-- Section-2 -->
        <link rel="stylesheet" href="../css/pages/section-2.css">
        <!-- Section-3 -->
        <link rel="stylesheet" href="../css/pages/section-3.css">
        <!-- Section-4 -->
        <link rel="stylesheet" href="../css/pages/section-4.css">
</head>
<body>

    <!-- Main -->
    <main>
        <!-- Section1 -->
        <section id="section1" class="section-black">
            
            <!-- Image -->
            <!-- Moon -->
            <img src="../images/section-1/moon.svg" alt="" id="section1_moon">

            <div id="section1-content">
                <!-- H1 -->
                <h1>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ratione fugiat et numquam.
                </h1>
    
                <!-- This class is found in the class.css file -->
                <!-- HR -->
                <hr class="hr hr-right hr-width40">
                <hr class="hr hr-left hr-width10">
            </div>
        </section>

        <!-- Section2 -->
        <section id="section2" class="section-yellow">
            <!-- Title -->
            <div class="section-title">
                <!-- h1 -->
                <h1>
                    Lorem ipsum dolor
                </h1>
    
                <!-- This class is found in the class.css file -->
                <!-- HR -->
                <hr class="hr hr-right hr-width40">
                <hr class="hr hr-left hr-width10">
            </div>

            <!-- Content -->
            <div id="section2-content" class="section-2columns">
                <img src="../images/section-2/rocket.svg" alt="">

                <div id="section2-content-right">
                    <h3>
                        Lorem ipsum dolor sit. 
                    </h3>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dolorem expedita unde optio, incidunt laboriosam.
                    </p>

                    <button>
                        lorem
                    </button>
                </div>
            </div>
        </section>

        <!-- Section3 -->
        <section id="section3" class="section-black">
            <!-- Title -->
            <div class="section-title">
                <!-- h1 -->
                <h1>
                    Lorem ipsum dolor
                </h1>
    
                <!-- This class is found in the class.css file -->
                <!-- HR -->
                <hr class="hr hr-right hr-width40">
                <hr class="hr hr-left hr-width10">
            </div>

            <!-- Content -->
            <div id="section3-content" class="section-2columns">
                <div id="section3-content-left">
                    <h3>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </h3>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dolorem expedita unde optio, incidunt laboriosam.
                    </p>

                    <hr class="hr hr-right hr-width10">
                    <hr class="hr hr-left hr-width40">
                </div>

                <img src="../images/section-3/dart.svg" alt="">
            </div>
        </section>

        <!-- Section4 -->
        <section id="section4" class="section-yellow">
            <div id="section4-content">

            </div>
        </section>
    </main>
    
</body>
</html>