/* Section */
.section-black{
    background-color: var(--black);
    background-image: url("../../images/background/yellow/1.svg");
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;

    padding-top: calc(5vh + 2vw);
    position: relative;
}
.section-yellow{
    background-color: var(--yellow);
    background-image: url("../../images/background/black/1.svg");
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;

    padding-top: calc(5vh + 2vw);
}





/* HR */
.hr{
    height: calc(.1vh + .1vw);

    background-color: var(--yellow);
}

.hr-width40{
    width: 40%;
}

.hr-width10{
    width: 10%;
}

.hr-left{
    position: absolute;
    left: 24%;
}

.hr-right{
    position: absolute;
    right: 24%;
}





/* Section Title */
.section-title{
    display: inline-block;

    margin-bottom: calc(5vh + 2.5vw);
    position: relative;
}
/* h1 */
.section-title h1{
    font-size: calc(2.5vh + .8vw);

    margin-bottom: calc(1vh + .3vw);
}





/* Section - 2 columns */
.section-2columns{
    display: flex;
    justify-content: center;
    align-items: center;
}





/* Button */
.button{
    color: var(--yellow);
    text-transform: capitalize;
    font-size: calc(1.2vh + .5vw);
    font-weight: bold;
    background-color: var(--black);
    border: calc(.4vh + .1vw) solid var(--black);

    padding: calc(.7vh + .2vw) calc(3.5vh + 1.3vw);
    transition: background-color .25s, color .25s;
}.button:hover{
    color: var(--black);
    background-color: transparent;
}


