#section2{
    text-align: center;

    padding-bottom: calc(10vh + 3.5vw);
}





#section2 .section-title h1{
    color: var(--black);
}





/* HR */
#section2 .hr{
    background-color: var(--black);
}





/* Content */
/* The style of this section / div 
is found in the class.css file */

/* Image */
/* Rocket */
#section2-content img{
    width: calc(25vh + 8vw);

    margin-right: calc(10vh + 3vw);
}

/* Right */
#section2-content-right{
    width: 25%;

    text-align: right;
}
/* H3 */
#section2-content-right h3{
    font-size: var(--h3_font-size);

    margin-bottom: var(--h3_margin-bottom);
}
/* P */
#section2-content-right p{
    font-size: calc(1.5vh + .5vw);

    margin-bottom: calc(2vh + .5vw);
}


