* Content */
/* The style of this section / div 
is found in the class.css file */

/* Image */
/* Rocket */
#section2-content img{
    width: calc(25vh + 8vw);

    margin-right: calc(10vh + 3vw);
}

/* Right */
#section2-content-right{
    width: 25%;

    text-align: right;
}

/* H3 */
/* The style of this section / div 
is found in the class.css file */

/* P */
/* The style of this section / div 
is found in the class.css file */


