/* Header */
#header{
}





/* Top */
#header-top{
    width: 100%;
    height: var(--headerTop_width);

    display: flex;
    align-items: center;

    background-color: var(--third);
    border-bottom: 1vh solid var(--primary);
    box-sizing: border-box;

    padding: 0 5vh;
    position: fixed;
    z-index: 999999;
    transition: all 0.25s;
}
/* Div content */
#header-top-content{
    width: 100%;
    height: 70%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Logo */
#header-top-logo{
    height: 100%;
}
#header-top-logo img{
    height: 100%;
}


/* Menu */
#header-top-menu ul{
    display: flex;
}
#header-top-menu ul li{
    border-radius: var(--borderRadius);

    padding: 10px 20px;
    position: relative;
}#header-top-menu ul li:hover{
    background-color: var(--primary);
}
#header-top-menu ul li a{
    font-size: 3vh;
}
/* Sub menu */
#header-top-menu ul .sub-menu{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#header-top-menu ul ul{
    display: none;

    background-color: var(--third);
    border-top-right-radius: var(--borderRadius);
    border-bottom-left-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
    border: 2px solid var(--primary);

    position: absolute;
    top: 100%;
    left: 0;
    overflow: hidden;
}
#header-top-menu ul li:hover ul{
    display: block;
}
#header-top-menu ul ul li{
    width: 35vh;

    text-align: center;

    border-radius: 0;
}
#header-top-menu ul ul li a{
    font-size: 2.5vh;
}
/* Responsive meu */
/* Icon */
#header-responsiveMenu-icon{
    display: none;
}
/* Nav */
#header-responsiveMenu-nav{
    display: none;
}


/* User account */
#header-top-userAccount{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--secondary);
    border-radius: 50%;
    cursor: pointer;

    padding: var(--headerTopUserAccount_padding);
    transition: padding 0.25s;
}#header-top-userAccount:hover{
    background-color: var(--primary);
}
#header-top-userAccount i{
    color: var(--third);
    font-size: var(--headerTopUserAccountIcon_size);

    transition: font-size 0.25s;
}





/* Background images */
#header-backgroundImages{
    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    transition: all 0.25s;
}





/* Responsive */
@media(max-width: 750px){
    /* Top */
    /* Menu || nav */
    #header-top-menu{
        display: none;
    }



    /* Responsive menu */
    /* Icon */
    #header-responsiveMenu-icon{
        width: 30px;
        height: 25px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        cursor: pointer;
    }
    #header-responsiveMenu-icon span{
        width: 100%;
        height: 3px;

        display: block;

        background-color: var(--secondary);
        transition: transform 0.25s;
    }
    #header-responsiveMenu-icon.change span:nth-child(1){
        transform: rotate(-45deg) translateX(-15px);
    }
    #header-responsiveMenu-icon.change span:nth-child(2){
        display: none;
    }
    #header-responsiveMenu-icon.change span:nth-child(3){
        transform: rotate(45deg) translateX(-16px);
    }

    /* Nav */
    #header-responsiveMenu-nav{
        width: 100%;

        display: block;
        background-color: var(--primary);
        box-sizing: border-box;

        padding: 2vh;
        position: fixed;
        top: var(--headerTop_width_negativeValue);
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.25s;
        z-index: 9999;
    }
    /* Sub menu */
    #header-responsiveMenu-nav ul .sub-menu ul{
        display: none;

        margin-left: 2.5vh;
    }
    #header-responsiveMenu-nav ul .sub-menu span{
        display: flex;
        align-items: center;
    }
    #header-responsiveMenu-nav ul .sub-menu span img{
        height: 5vh;

        cursor: pointer;

        margin-left: 1vh;
    }
}

