#footer{
    background-color: var(--blue);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 6vh 0;
}





/* Title */
#footer h1{
    color: #fff;
    font-size: 5vh;
    font-weight: 200;
}
#footer h1 span{
    font-weight: bold;
}
/* Hr */
#footer hr{
    width: 20vh;
    height: 0.4vh;

    background-color: #fff;

    border: 0;

    margin-top: 1.5vh;
    margin-bottom: 3vh;
}






/* Social */
#footer-social{
    margin-bottom: 3vh;
}
#footer-social img{
    width: 4.5vh;

    cursor: pointer;

    margin: 0 2vh;
    transition: transform 0.25s;
}
#footer-social img:hover{
    transform: scale(1.2);
}





/* All rights */
#footer h6{
    font-size: 2vh;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;

    margin-bottom: 3vh;
}
#footer span{
    font-weight: bold;
}




/* Developed by */
#footer-developedBy{
}
#footer-developedBy p{
    color: #fff;
    font-size: 2vh;
    text-transform: uppercase;

    margin-bottom: 0.5vh;
}#footer-developedBy p:last-child {
    margin-bottom: 0;
}