#buyOurGame{
    background-color: var(--secondary);

    /* margin-top: var(--separateSections); */
    padding: var(--main-padding);
}



/* Title and description/text */
#buyOurGame .section-title h1{
    padding: 0;
}
#buyOurGame .section-title h1,
#buyOurGame .section-title p{
    color: var(--third);
}
#buyOurGame .section-title p{
    font-size: 2.8vh;
}



/* Content */
#buyOurGame-content{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 8vh 0;
}

/* Content title */
#buyOurGame-content-title h2{
    color: #fff;
    font-size: 5vh;

    margin-bottom: 5vh;
}

/* Platforms */
#buyOurGame-content-platforms{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* Platform */
.buyOurGame-platform{
    display: flex;
    align-items: center;
    margin: 2vh;
}
.buyOurGame-platform img{
    width: 15vh;

    cursor: pointer;
    margin-right: 2vh;
}
.buyOurGame-platform p{
    color: var(--third);
    font-size: 3.5vh;
    cursor: pointer;
}.buyOurGame-platform p:hover{
    color: var(--primary);
}





/* Responsive */
@media(max-width: 1024px){
    /* Content */
    /* Platform */
    .buyOurGame-platform img{
        width: 60px;
    }
    .buyOurGame-platform p{
        font-size: 17px;
    }
}

@media(max-width: 400px){
    /* Content */
    /* Platforms */
    #buyOurGame-content-platforms{
        flex-direction: column;
    }

    /* Platform */
    .buyOurGame-platform img{
        width: 50px;
    }
    .buyOurGame-platform p{
        font-size: 15px;
    }
}