#careerDG{
    margin-top: var(--separateSections);
}



/* Section title */
#careerDG-section-title{
    margin-bottom: -3vh;
}



/* Content */
#careerDG-content{
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-image: url("../../../images/home/main/carrerDG/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: var(--main-padding);
    position: relative;
}#careerDG-content:after{
    content: "";
    width: 100%;
    height: 100%;

    display: block;

    background-color: rgba(0, 0, 0, 0.6);

    position: absolute;
    top: 0;
    left: 0;
}

/* Text and button*/
#careerDG-content-text,
#careerDG-content-btn{
    font-size: 2vh;
    
    position: relative;
    z-index: 9;
}
#careerDG-content-text{
    width: 70%;
    color: var(--third);
}
#careerDG-content-btn{
    background-color: var(--primary);
    border-radius: 2vh;
    cursor: pointer;

    margin-top: 4vh;
    padding: 1.5vh 5vh;
    transition: backgorund-color 0.25s, color 0.24s;
}#careerDG-content-btn:hover{
    color: var(--third);
    background-color: var(--secondary);
}