/* Slider */
/* Input */
#slider_input{
    width: 60%;
    height: calc(2vh + .5vw);

    -webkit-appearance: none;
    background: linear-gradient(90deg,rgb(31, 204, 69) 1%, rgb(231, 231, 231) 1%);
    box-shadow: 0px .3vh 1vh .1vh rgba(0, 0, 0, 0.3);
    border-radius: calc(10vh + 5vw);
    outline: none;
}

#slider_input::-webkit-slider-thumb{
    -webkit-appearance: none;

    width: calc(3vh + 1vw);
    height: calc(3vh + 1vw);

    background-color: #fff;
    box-shadow: 0px .3vh 1vh .1vh rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
}
#slider_input::-moz-range-thumb{
    -webkit-appearance: none;

    width: calc(3vh + 1vw);
    height: calc(3vh + 1vw);

    background-color: #fff;
    box-shadow: 0px .3vh 1vh .1vh rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
}

/* Text */