/* Select game */
#selectGame{
}

/* Row */
.selectGame-row{
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
}

/* Card */
.selectGame-card{
    flex: 1 0 250;
    max-width: 250px;
    height: 250px;

    cursor: pointer;

    margin: 0 20px;
    position: relative;
}.selectGame-card::after{
    content: '';

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}
/* Image */
.selectGame-card img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}



/* Card support */
#selectGame-cardSupport{
    display: none;
    grid-template: 
       "section-category btnClose";
    ;
    grid-template-columns: 92% auto;

    border: 1px solid blue;
    opacity: 0;
    overflow: hidden;

    margin-top: 10px;
    position: absolute;
}

/* Close button */
#selectGame-cardSupport-btnClose{
    grid-area: btnClose;
    text-align: right;

    font-size: 4vh;
    cursor: pointer;

    padding-right: 0.5vh;
}

/* Section category */
#selectGame-cardSupport-category{
    grid-area: section-category;
    
    background-color: #fff;

    z-index: 9;
}

/* Section */
.selectGame-cardSupport-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid red;
}

/* Title */
.selectGame-cardSupport-sectionTitle{
    font-size: 3vh;
}

/* Options */
.selectGame-cardSupport-options{
    display: flex;
    align-items: center;

    margin-top: 2vh;
}
/* Option */
.selectGame-cardSupport-option{
    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;

    margin: 0 3vh;
    position: relative;
}.selectGame-cardSupport-option::after{
    content: '';

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

/* Account, payment, gamesProblems */
#selectGame-cardSupport-account,
#selectGame-cardSupport-payments,
#selectGame-cardSupport-gamesProblems{
    display: none;

    opacity: 0;
}



/* Modal */