:root{
    /* Separate secitons */
    --separateSections: 10vh;

    /* Border radius */
    --borderRadius: 3vh;

    /* Components */
        /* Header */
            /* Header top */
            --headerTop_width: 15vh;
            --headerTop_width_negativeValue: -35vh;
            --headerTopAnimationScrolling_width: 10vh;
            --headerTopAnimationScrolling_width_negativeValue: -30vh;

            /* Header top user account */
            --headerTopUserAccount_padding: 2vh;
            --headerTopUserAccountScrolling_padding: 1.7vh;
            --headerTopUserAccountIcon_size: 4vh;
            --headerTopUserAccountIconScrolling_size: 3vh;

            /* Responsive menu */
            --headerResponsiveMenuNav_width: 40vh;
            --headerResponsiveMenuNav_width_negativeValue: -40vh;

    /* Home */
        /* Main */
        /* body */
        --main-padding: 0 4.5vh;



    /* Colors */
    --primary: #EC1C24;
    --secondary: rgb(26, 26, 26);
    --third: #fff;
    --fourth: ;
    --primary-gradient: linear-gradient(to right, #e52d27, #b31217);

    /* Text colors */
    --primary-textColor: #fff;
}