/* Header */
#header{
    height: 90vh;

    background-image: url('../../images/banner.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}#header::after{
    content: '';

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    position: absolute;
    top: 0;
    left: 0;
}





/* Top header */
#header-top{
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 25vh; 
    position: relative;
    z-index: 9;
}


/* Logo */
#header-top-logo{
    color: #fff;
    font-size: 3vh;

    cursor: pointer;
}
#header-top-logo span{
    font-weight: bold;
}


/* Menu */
#header-top-nav{

}

/* Links */
#header-top-nav a{
    color: #fff;
    font-size: 2.5vh;
    text-transform: capitalize;

    margin: 0 10px;
}





/* Responsive header */
#header-responsive{
    display: none;
}





/* Content */
#header-content{
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    padding-bottom: 20px;
    position: relative;
    z-index: 9;
}


/* Title, subtitle, text and buttons */
#header-content > div:nth-child(1){
    width: 70vh;

    margin-right: 40px;
}

/* Title */
#header-content-title{
    color: #fff;
    font-size: 5.5vh;
    font-weight: lighter;
}

/* Subtitle */
#header-content-subtitle{
    color: #fff;
    font-size: 4.5vh;
    font-weight: 500;
}

/* Text */
#header-content-text{
    color: #fff;
    font-size: 2.5vh;
    font-weight: 200;

    margin: 25px 0;
}

/* Buttons */
#header-content-btns{
    display: flex;
}
#header-content-btns button{
    transition: 0.2s background-color;
}#header-content-btns button:hover{
    background-color: var(--blue);
}
/* Watch */
#header-content-btns-watch{
    width: 20vh;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    font-size: 2vh;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #fff;
    background-color: transparent;

    margin-right: 10px;
    padding: 1.5vh 0;
}#header-content-btns-watch:hover{
    border-color: var(--blue);
}
#header-content-btns-watch i{
    font-size: 3vh;

    margin-top: 2px;
    margin-right: 3px;
}
/* Learn */
#header-content-btns-learn{
    width: 20vh;

    font-size: 2vh;
    font-weight: 600;
    text-transform: uppercase;

    padding: 1.5vh 0;
}#header-content-btns-learn:hover{
    color: #fff;
}


/* Image */
#header-content-image img{
    width: 25vh;
}





/* Responsive */
@media (max-width: 1250px){
    /* Top header */
    #header-top{
        padding: 0 80px;
    }
}
@media (max-width: 1024px){
    /* Top header */
    #header-top{
        display: none;
    }



    /* Responsive header */
    #header-responsive{
        height: 10%;

        display: flex;
        align-items: center;

        box-sizing: border-box;

        position: relative;
        z-index: 999999;
    }

    /* Icon */
    #header-responsive-icon{
        width: 30px;
        height: 25px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        cursor: pointer;

        position: absolute;
        left: 20px;
    }
    #header-responsive-icon span{
        width: 100%;
        height: 4px;

        display: block;

        background-color: #fff;
        transition: transform 0.35s, opacity 0.25s, background-color 0.25s;
    }#header-responsive-icon:hover span{
        background-color: var(--blue);
    }


    /* Nav */
    #header-responsive-nav{
        width: 200px;
        height: 100vh;

        display: flex;
        flex-direction: column;
        background-color: #fff;

        position: fixed;
        top: 0;
        left: -250px;
        transition: left 0.5s;
    }

    /* Logo */
    #header-responsive-nav-logo{
        text-align: center;

        color: #fff;
        font-size: 20px;
        font-weight: 400;
        background-color: var(--blue);

        margin-bottom: 10px;
        padding: 20px 0;
    }
    #header-responsive-nav-logo span{
        font-weight: bold;
    }

    /* Links */
    #header-responsive-nav a{
        width: 100%;

        text-align: center;

        color: var(--blue);
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;

        padding: 10px 0;
    }#header-responsive-nav a:hover{
        color: #fff;
        background-color: var(--blue);
    }

    /* Responsive header - JS */
    /* Change shape icon */
    #header-responsive-icon.closeIcon span:nth-child(1){
        transform: rotate(50deg) translateX(14px);
    }
    #header-responsive-icon.closeIcon span:nth-child(2){
        opacity: 0;
    }
    #header-responsive-icon.closeIcon span:nth-child(3){
        transform: rotate(-50deg) translateX(13px);
    }
}

@media(max-width: 750px){
    /* Header */
    #header{
        height: 70vh;
    }





    /* Content header */
    #header-content > div:nth-child(1){
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        margin-right: 0;
    }

    /* Image */
    #header-content-image{
        display: none;
    }
}
