#amazingFeatures{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #e9e9e9;

    margin-bottom: var(--separateSections);
    padding: 60px 0;
}




/* Title */
#amazingFeatures-title{
    color: var(--blue);
    font-size: 5vh;
    text-transform: capitalize;
}

/* Subtitle */
#amazingFeatures-subtitle{
    width: 60vh;

    font-size: 2.5vh;

    text-align: center;
}





/* Content */
#amazingFeatures-content{
    display: flex;
    align-items: center;

    margin-top: 5vh;
    padding: 0 10px;
}


/* Features left and right */
#amazingFeatures-content-featuresLeft,
#amazingFeatures-content-featuresRight{
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Divs */
.amazingFeatures-content-featuresLeft-div,
.amazingFeatures-content-featuresRight-div{
    max-width: 60vh;
    
    display: flex;
    align-items: flex-start;
}

/* Title  and text*/
.amazingFeatures-content-featuresLeft-div-title,
.amazingFeatures-content-featuresRight-div-title,
.amazingFeatures-content-featuresLeft-div-text,
.amazingFeatures-content-featuresRight-div-text{
    font-size: 2.5vh;
}
.amazingFeatures-content-featuresLeft-div-title,
.amazingFeatures-content-featuresLeft-div-text{
    text-align: right;
}

/* Icons */
.amazingFeatures-content-featuresLeft-div i,
.amazingFeatures-content-featuresRight-div i{
    color: var(--blue);
    font-size: 3.5vh;
    border: 1px solid var(--blue);

    padding: 2vh;
}
.amazingFeatures-content-featuresLeft-div i{
    margin-left: 2.2vh;
}
.amazingFeatures-content-featuresRight-div i{
    margin-right: 2.5vh;
}


/* Image */
#amazingFeatures-content-image img{
    height: 60vh;

    padding: 0 40px;
}





@media(max-width: 700px) {
    #amazingFeatures-content{
        display: grid;
        grid-template-areas: 
            "featuresLeft featuresRight"
            "image image"
        ;
    }

    #amazingFeatures-content-featuresLeft{
        grid-area: featuresLeft;

        padding-right: 2vh;
    }
    #amazingFeatures-content-image{
        grid-area: image;

        margin: 0 auto;
        margin-top: 4vh;
    }
    #amazingFeatures-content-image img{
        height: 40vh;
    }
    #amazingFeatures-content-featuresLeft{
        grid-area: featuresRight;

        padding-left: 2vh;
    }
}

@media (max-width: 500px){
    #amazingFeatures-content{
        display: grid;
        grid-template-areas: 
            "featuresLeft"
            "featuresRight"
            "image"
        ;
    }
}

@media (max-width: 407px){
    /* Subtitle */
    #amazingFeatures-subtitle{
        width: auto;
    }
}
