#ourappcreenshots{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: var(--separateSections);
}




/* Title */
#ourappcreenshots-title{
    color: var(--blue);
    font-size: 5vh;
    text-transform: capitalize;
}

/* Subtitle */
#ourappcreenshots-subtitle{
    width: 60vh;

    font-size: 2.5vh;

    text-align: center;
}





/* Images */
#ourappcreenshots-images{
    display: flex;
}
#ourappcreenshots-images img{
    height: 40vh;

    margin: 0 3vh;
    margin-top: 5vh;
    transition: transform 0.25s;
}
#ourappcreenshots-images img:hover{
    transform: scale(1.8);
}





@media (max-width: 1024px){
        /* Title */
    #ourappcreenshots-title{
        font-size: 24px;
    }

    /* Subtitle */
    #ourappcreenshots-subtitle{
        font-size: 15px;
    }





    /* Images || screenshots */
    #ourappcreenshots-images{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #ourappcreenshots-images img{
        width: 100px;
        height: auto;
    }
}

@media (max-width: 500px){
    /* Images || screenshots */
    #ourappcreenshots-images img{
        width: 80px;
    }
}